
h1 {
    font-size: 2.5rem;
    font-weight: 300;
    color: #0077bb;
    text-align: center;
}

.col-sm {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

div.carousel-item {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.navbar {
    background-color: #0077bb;
}
.nav-link {
    color: #bbe6ff;
}
h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: #0077bb;
    text-align: center;